@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme    : dark;
  color           : rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
}

.tooltip {
  @apply invisible absolute;
  pointer-events: none;
  user-select   : none;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.animation-button-pulse {
  animation: button-pulse 1.5s linear infinite;
}

@keyframes button-pulse {
  0% {
    box-shadow : 0 0 0 0 rgba(150, 150, 150, 1);
    text-shadow: 0 0 0 #fff;
  }

  20% {
    box-shadow: 0 0 0 20px rgba(150, 150, 150, 0);
    color     : rgba(0, 0, 0, 0.75);
  }
}